h3{
    color: darkcyan;
    font-size: 50px;
    text-align: center;
}
small{
    color: royalblue;
}

p{
    color: rgb(255, 0, 0);
}      

*{
    color: red;
}


h1{
    text-align: center;
}

.borderone{
    border: 10px dashed yellow;
}

.bordertwo{
    border-top: 20px solid red;
}

.borderstyleone{
    border-style: dotted;
}

.borderstylemix{
    border-style: solid dashed dotted double;
}

.borderwidthone{
    border-width: 1px 10px;
    border-style: dashed;
}

.marginone{
    margin: 100px 200px;
    border: 1px solid black;
}

.margintwo{
    margin-left: 50px;
}

.padding{
    padding: 100px 40px 200px 10px;
    border: 1px solid red;
}

.inline{
    border: 1px solid black;
    width: 200px;
    display: inline-block;
}

.block{
    border: 1px solid red;
    width: 200px;
    display: inline-block;
}

.float_left img{
    width: 40%;
    float: left;
}

.clear{
    clear: both;
}

.float_right img{
    width: 40%;
    float: right;
}

.grid_one div,
 .grid_two div,
 .grid_three div,
 .grid_four div,
 .grid_five div,
 .grid_six div{
    padding: 20px;
    color: white;
    text-align: center;
}

.grid_one, 
.grid_two,
.grid_three,
.grid_four,
.grid_five,
.grid_six{
    display: grid;
    grid-template-columns: auto auto auto ;
    /* grid-template-rows: auto auto auto; */
}

.grid_two{
    grid-column-gap: 40px;
}

.grid_three{
    grid-row-gap: 50px;
    
}

.grid_four{
    grid-gap: 50px;
}

.grid_add{
    grid-column-start: 1;
    grid-column-end: 3;
}

.row_add{
    grid-row-start: 1;
    grid-row-end: 4;
}


.relative_parent{
    width: 1000px;
    height: 500px;
    border: 1px solid red;
}

.relative{
    width: 400px;
    height: 200px;
    border: 1px solid blue;
    position: relative;
    top: 50px;
    left: 100px;

}

.absolute_parent{
    width: 1000px;
    height: 500px;
    border: 1px solid green;
}

.absolute{
    width: 300px;
    height: 200px;
    border: 1px solid  purple;
    position: absolute;
    top: 700px;
    left: 400px;
}

.fixed{
    position: fixed;
    top: 100px;
    right: 100px;
}

.font{
    font-family: 'Silkscreen', cursive;
}