.bg{
    background-color: #60B3C5;
    
}

.welcome{
    padding-top: 70px;
    text-align: left;
}

/* .blog{
    padding-top: 100px;
    text-align: left;
} */

.link{
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

.link:hover{
    letter-spacing: 5px;
    transition-duration: .6s;
    color: white;
}

.phone-kind1 .btn:hover{
    transform: scale(1.3);
    transition-duration: .6s;
}

.about{
    background-color: #00C2CB;
}

.ab{
    padding-top: 200px;
    text-align: left;
}

.card-text{
    text-align: justify;
}
.maincontact{
    background-color: #AF82B9;
}

.contact{
    background-color: #AF82B9;
}
