*{
    margin: 0px;
    padding: 0px;
   
    color: white;
    
}
.home{
    background-color: black;
    /* color: black; */
}
.back-video{
    /* position: absolute; */
    right: -1;
    bottom: 0;
    z-index: -1;
    width: 100%;
    
    
}

.logo{
    width: 100px;
    margin-left: 40px;
    margin-top: 15px;

}


.navbar{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0);
    height: 90px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    text-shadow: 2px 3px 4px black;
    
    
}

.navbar ul li{
    display: inline-block;
    padding-top: 30px;
    margin-right: 50px;
}

.navbar ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 50px;
    
}

.navbar ul li a:hover{
    letter-spacing: 5px;
    transition-duration: .6s;
    color: rgb(255, 255, 255);
}



.background{
    padding-top: 150px;
    margin: auto;
    width: 1000px;
    
}

.bg{
    background-color: black;
    
}

.bg img{
    width: 100%;
    display: block;
    margin: auto;
   
}

.btn{
    position: absolute;
    width: 300px;
    height: 70px;
    background-color: rgba(0, 0, 0 , 0);
    font-size: 28px;
    top: 1600px;
    left: 40%;
    border: 3px solid rgb(255, 252, 252);
    border-radius: 10px;
}

.btn:hover{
    border: 3px solid rgb(222, 64, 64);
}

.news1{
    background-color: black;
    font-size: 30px;
    padding: 50px;
}

.ln{
    padding: 50px;
}

.ln1:hover{
    letter-spacing: 6px;
    transition-duration: .6s;
}

.iframe{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    grid-column-gap: 50px;
    padding-top: 30px;
}

.if:hover{
    transform: scale(1.1);
    transition-duration: .6s;
}

.hero{
    background-color: black;
}

.hero img{
    width: 70%;
}

.btn2{
    background-color: black;
    padding-bottom: 30px;
    
}

.btn3{
    color: rgb(255, 255, 255);
    font-size: 30px;
    border: 3px solid rgb(245, 241, 241);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    width: 400px;
    height: 70px;

}

.btn3:hover{
    border: 3px solid  rgb(222, 64, 64);
    border-radius: 10px;
}

.ember{
    background-color: black;
}
.ember img{
    width: 100%;
    background-color: black;
}

.btn1{
    position: absolute;
    top: 3860px;
    right: 65%;
    width: 400px;
    height: 70px;
    color: rgb(255, 255, 255);
    font-size: 30px;
    border: 3px solid rgb(245, 241, 241);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    
}

.btn1:hover{
    border: 3px solid  rgb(222, 64, 64);
    border-radius: 10px;
}

.footer{
    background-color: black;
    /* display: block; */
    text-align: center;
    padding: 30px;
    display: grid;
    grid-template-columns: auto auto;
    
}


.amt{
    width: 100px;
    padding: 0px 300px;
}

.footer1 img{
    width: 300px;
    padding-top: 20px;
    padding-right: 170px;
}

.hero_bg{
    /* padding-top: 120px; */
    background-color: black;
}

.hero_bg img{
    width: 100%;
}

.choice{
    padding-top: 30px;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 100px;
    padding-bottom: 30px;
}

.heros{
    background-color: black;
    padding-bottom: 50px;
}

.heros img{
    padding: 5px;
    
}

.heros img:hover{
    transform: scale(1.3);
    transition-duration: .6s;
}

.ti11{
    background-color: black;
}

.ti11 img{
    width: 100%;
}

.news{
    background-color: black;
    color: white;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 50px;
    padding: 0px 200px;
    padding-bottom: 50px;
}

.news img{
    width: 100%;
    
}

.photo{
    display: grid;
    grid-template-columns: auto auto;
}

.img-card{
    border: 1px solid white;
   overflow: hidden;
}

.news img:hover{
    transform: scale(1.1);
    transition-duration: .6s;
}
.teamslogo{
    background-image: url(https://cdn.wallpapersafari.com/99/34/a739hI.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
}

.teamslogo h1{
    text-align: center;
    font-size: 100px;
    padding-top: 50px;
}
.teams{
    
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 20px;
    padding: 10px 300px;
}

.eg{
    text-align: center;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    /* background-color:  rgba(222, 64, 64 , 0.5); */
}

.eg a{
    text-decoration: none;
}

.eg1{
    width: 70%;
    padding: 20px; 
}



.secret{
    width: 100%;
    margin: 65px 0px;
}

.talon{
    width: 100%;
    margin: 63px 0px;
}

.boom{
    width: 100%;
    margin: 0px 0px;
}

.spirit{
    width: 100%;
    margin: 20px 0px;
}

.fnatic{
    width: 100%;
    margin: 50px 0px;
}

.aster{
    width: 100%;
    margin: 25px 0px;
}

.tundra{
    width: 100%;
    margin: 20px 0px;
}

.rng{
    width: 100%;
    margin: 50px 0px;
}

.liquid{
    width: 100%;
    margin: 15px 0px;
}

.lgd{
    width: 100%;
    margin: 35px 0px;
}

.hokori{
    width: 100%;
    margin: 45px 0px;
}

.beastcoast{
    width: 80%;
    margin: 50px 0px;
}

.entity{
    width: 100%;
    margin: 20px 0px;
}

.soniqs{
    width: 100%;
    margin: 63px 0px;
}

.bb{
    width: 100%;
    margin: 70px 0px;
}

.ta{
    width: 100%;
    margin: 42px 0px;
}

.og{
    width: 100%;
    margin: 20px 0px;
}

.gg{
    width: 100%;
    margin: 30px 0px;
}

.tsm{
    width: 100%;
    margin: 55px 0px;
}

.line{
    width: 70%;
    margin: auto;
}

.line1{
    width: 20%;
    margin: auto;
    margin-bottom: 50px;
}

.eg:hover{
    transform: scale(1.1);
    transition-duration: .6s;
}

.tour{
    /* background-color: black; */
    background-image: url(ti7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 750px;
}

.tour h1{
    text-align: center;
    color: rgb(250, 245, 247);
    padding-top: 400px;
    font-size: 40px;
    padding-bottom: 10px;
    text-shadow: 2px 3px 4px rgb(243, 0, 0);
}

.tour hr{
    width: 300px;
    margin: auto;
    border: 1px solid red;
}

.tour p{
    padding-top: 30px;
    width: 50%;
    text-align: justify;
    margin: auto;
    font-size: 20px;
    animation: leftin 1s linear 1;
    animation-delay: 1s;
    visibility: hidden;
    animation-fill-mode: forwards;
    text-shadow: 2px 3px 4px rgb(0, 61, 243);
    
}
@keyframes leftin{
    0%{
        transform: translateX(-100px);
        visibility: visible;
    }
    100%{
        transform:translateX(0);
        visibility: visible;
    }
}


.tiwinners{
    background-color: black;
    padding-top: 30px;
    font-size: 50px;
    text-align: center;
    text-shadow: 3px 4px 5px rgb(243, 0, 0);
}

.ti11_winner{
    background-color: black;
    display: grid;
    grid-template-columns: auto auto;
    padding: 50px;
}

.ti11_winner img{
    width: 90%;
    margin: auto;
    
}

.ti11_winner img:hover{
    transform: scale(1.1);
    transition-duration: .6s;
}

.ti11_winner iframe:hover{
    transform: scale(1.1);
    transition-duration: .6s;
}
